{{ define "main" }}
<main class="flex flex-row flex-wrap bg-gray-100 dark:bg-gray-700">
  <section
    class="w-full sm:w-2/5 flex flex-col justify-between bg-gray-300 dark:bg-gray-900"
  >
    <div>
      {{- partial "header.html" . -}}

      <div class="px-3">
        {{ partial "name.html" . }}
        {{ partial "profilePhoto" . }}
        {{ partial "aboutDesc" . }}
        {{ partial "hobby.html" . }}
        {{ partial "certification.html" . }}
        {{ partial "language.html" . }}
      </div>
    </div>
    {{- partial "footer.html" . -}}
  </section>

  <section class="w-full sm:w-3/5 p-3">
    {{ partial "experience.html" . }}
    <hr />
    {{ partial "project.html" . }}
    <hr />
    {{ partial "skill.html" . }}
    <hr />
    {{ partial "education.html" . }}
  </section>
</main>
{{ end }}
